@model PagedList.IPagedList<Web.Models.BaoCao>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/SinhVien/Views/Shared/_Layout.cshtml";
}

<h2>Báo cáo</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Tuan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Nhom.TenNhom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().TieuDe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().NoiDung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().ThoiGianBaoCao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().FileUpload)
        </th>
        <th>
            Download
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tuan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nhom.TenNhom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TieuDe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoiDung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianBaoCao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileUpload)
            </td>
            <td>
                <a href="/@item.FilePath" download>
                    Download
                </a>
            </td>

            <td>

                @Html.ActionLink("Chi tiết", "Details", new { id = item.ID })

            </td>
        </tr>
    }

</table>
<div style="display:flex" class=" justify-content-end ">
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page }))
</div>
