@model Web.Models.NguoiDung

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/GiaoVien/Views/Shared/_Layout.cshtml";
}



<h3>Bạn có chắc muốn xóa lựa chọn này?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên đăng nhập
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDangNhap)
        </dd>

        <dt>
            Mật khẩu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatKhau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChucVu.TenChucVu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChucVu.TenChucVu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeTai.TenDeTai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeTai.TenDeTai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nhom.TenNhom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nhom.TenNhom)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở lại trang chính", "Index")
        </div>
    }
</div>
